@font-face {
  font-family: "OpenSans";
  src: url(../src/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Kanit";
  src: url(../src/assets/fonts/Kanit-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../src/assets/fonts/Raleway-Bold.ttf);
}
body{
  background-image: url(../src/assets/pics/bgproper.png);  
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
}
.sokulogo{
  width: 75px;
  margin: 5px;
}
.navlinks{
  color: white;
  text-align: right;
  margin-right: 1vw;
}
.navbar-toggler {
  margin-left: auto; 
}
.fixed-navbar{
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  top: 0;
}
.navlinks:hover{
  color: #0197f6;
}
#seniorpic{
  border-radius: 100%;
  text-align: center;
  width: 460px;
  height: auto;
  border: 0.9vh solid hsl(0, 0%, 0%);
  box-shadow: 0 0 0 #ffffff;
  position: relative;
  transition: ease-in-out 0.3s;
  top: 20px;
}
#seniorpic:hover{
  border: 1vh solid #0197f6;
  box-shadow: 0 0 4vw #0197f6;
}
.seniorpiccontain{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#name{
  color: #ffffff;
  font-size: 40px;
  position: relative;
  text-decoration: none;
  font-family:"Raleway";
  bottom: 10px;
}
.description{
  position: relative;
  bottom: 30px;
  font-size: 21px;
  color: #ffffff;
  font-family: "Raleway";
  margin-top: -5px;
}
.iconscontainer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 30px;
}
.iconpics {
  height: 70px;
  width: auto;
  margin: 20px;
  transition: 0.2s ease-in-out; 
  cursor: pointer;
}
.icon-buttons:hover {
  transform: scale(1.4);
}
.icon-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  color: #ffffff;
  background: none;
  border: none;
  text-decoration: underline;
  text-decoration-color:#0197f6;
  text-decoration-thickness: 3px;
  transition: ease-in-out 0.3s;
}
.icon-buttons span {
  visibility: hidden; 
  text-decoration: none;
  font-family: "OpenSans";
  position: relative;
  bottom: 1.5vh;
}
.icon-buttons:hover span {
  visibility: visible;
  text-decoration: none;
}
.about-me-con{
  background-color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-text, .port-text{
  font-family: "OpenSans";
  font-size: 20px;
  color: white;
  padding-top: 1vh;
  padding-bottom: 30px;
  text-align: left;
}
.about-text{
  width: 82%;
  font-size: 19px;
}
.header{
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: "Kanit";
  padding: 2vw;
  text-decoration: underline;
  text-decoration-color:#0197f6;
  text-decoration-thickness: 2px;

}
.experiencecon{
  text-align: center;
  background-color: rgb(18, 18, 18);
  width: 100%

}
.experienceimages{
  border-radius: 35px;
  padding: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 225px;
  height: auto;

}
.experiimgcon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 4vw;
}
.experiwhite{
  background-color: #ffffff;
  margin: 1vw;
  border-radius: 44px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.logos{
  width: 100px;
  height: 100px;
}
.skillscontainer{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.logocon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 65%;
}
.doublecon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5vh;
}
.miniheader{
  font-size: 4vh;
  text-align: center;
  color: #ffffff;
  font-family: "OpenSans";
}
.horiline{
  border: 0;
  background-color: hsl(203, 99%, 48%);
  width: 70%;
  height: 2px;
  margin: 20px auto;
}
.logotext{
  color: white;
}
.portfoliomaincon{
  background-color: rgb(18, 18, 18);
}
.col{
  color: #ffffff;

}
.portpara{
  text-align: left;
}
.sliderimages{
  width: 100%;
  height: 100%;
  min-width: 375px;
}
.sliderbutton{
  position: relative;
  font-size: 2rem;
  background-color: hsl(203, 99%, 38%);
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.sliderbutton:hover{
  background-color: hsl(203, 99%, 50%);
}
.mainslidercontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.jsmbold{
  color: #0197f6;
}
.jsmol{
  font-size: 18.5px;
}
.horiline2{
  border: 0;
  background-color: white;
  width: 80%;
  height: 2px;
  margin: 40px auto;
  position: relative;
  bottom: 20px;
}
.row, .swap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.portfolioview{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: #000000;
  padding: 20px 0;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;  
  align-items: center;
}
.arrow{
  position: relative;
  width: 140px;
  height: auto;
}
.contnav{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomlogo{
  width: 100px;
}
.copyright{
  position: relative;
  bottom: 60px;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
  padding-top: 20px;
}
.copy{
  background-color: #0197f6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  margin-left: 7px;
}
.copy:hover{
  background-color: #3caff6;
  color: #000000;
}
.sociallinks{
  font-size: 20px;
}
.maincontcon{
  background-color: #000000;
  color: #ffffff;
  text-align: center ;  
}
.bottomcontcon{
  padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

@media (max-width: 600px) {
  .experiwhite{
    height: 150px;
  }
  .experienceimages{
    width: 125px;
  }
  .iconpics {
    height: 60px;
    width: auto;
    margin: 10px;
    transition: 0.2s ease-in-out; 
    cursor: pointer;
    margin-top: 40px;
  }
  #seniorpic{
    width: 370px;
    margin-bottom: 20px;
  }
  .logocon{
    max-width: 90%;
  }
  .arrow{
    width: 120px !important;
    height: auto;
  }
  .about-text, .port-text{
    font-size: 17px;
  }
  .about-text{
    width: 87%;
  }
  .port-text{
    padding-left: 22px;
    padding-right: 22px;
  }
  .description{
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .swap{
    display: flex;
    flex-direction: column-reverse;
  }
  
}




